/* variables */
:root {
    /* Colors */
    --grisOscuro:#353534 ;
    --cobre:#a45323 ;
    --beige:#e4dbca ;
    
    /* Font */
    --rubik: "Rubik", sans-serif;
    --roboto: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

body {
    font-family: var(--rubik, --roboto);
}

.btn-whisking {
        height: 2.5rem;
        border-radius: 0.5rem ;
        padding: 0.5rem;
        box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
        font-size: 0.9rem;
        font-weight: 700;
        background-color: var(--grisOscuro);
        color: var(--beige);
}

.btn-whisking:hover {
    color: white;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 60%);
}
.btn-whisking2{
    cursor: pointer;
    border-radius: 5px;
    color: var(--beige);
    background-color: var(--cobre);
    width: 6rem;
    height: 2rem;
    text-transform: capitalize;
    border: none;
    font-weight: bold; 
    font-size: small;
}
.btn-whisking2:hover{
    color: var(--cobre);
    background-color: var(--beige);
    box-shadow: 0px 0px 5px var(--grisOscuro);
}
/*esto lo agrego para el formulario editar */
.button-cancel-create{
    padding: 25px,25px,25px,25px;
}
