header {
    background-color: var(--grisOscuro);
    top: 0;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    position: sticky;
    z-index: 1;
    }

header .burger-container{
        display: flex;
        justify-content: space-evenly;
    }  

header img {
        width: 25%;
        margin-right: 250px;
        padding-top: 24px;
        margin-bottom: 10px;
        position: absolute;
    }

header input.search-bar{
    width: 100px;
    height: 2rem;
    padding-top: 10px;
    margin-top: 30px;
    

}

header .search-bar {
         margin: 0;
         position: relative;
         padding-top: 10px;
        margin-bottom: 10px;
    
     }

header button.lupa{
    padding-top: 10px;
    margin-bottom: 10px;
    width: 2rem;
    height: 2rem;

}

header ul li{
        color: var(--beige); 
        text-align: right;   
}

header .main-menu {
         display: none;
     }   

header .burger-menu{
    position: absolute;
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    right: 45px;
    top: 0;
    
   
}
header .fa-bars{
    position: relative;
    left: 120px;
    top: 35px;
    width: 5rem;
    height: 5rem; 
    font-size: 1.5rem;
}
header .burger-menu a {
    color: var(--grisOscuro);
    text-decoration: none;
    display: block;
    padding: 10px 20px;
     max-width: 200px;
    background: var(--beige);
    font-variant: small-caps;
}