.body-login {
    background-color: var(--beige);
}

.login-main {
    background-color: var(--beige);
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;    
    padding: 2rem;
}

.login-main h2 {
    padding: 10px; 
    text-align: center;
    color: var(--cobre);
    text-transform: uppercase;

}
/* .login-main (falta form action=" ") */

.login-main .form-login {
    margin-top: 5px;
}

.login-main .form-login .input-container-login {
    padding: 10px 0px;
}

.login-main .form-login .input-container-login .input-style-login {
    border-radius: 1rem;
    height: 2rem;
    width: 100%;
    padding: 1rem; 
    border: none;
} 
/* alertas de mensajes de error y credenciales invalidas*/
.login-main .form-login .input-container-login .error-message-login, span.error-message-login {
    display: block;
    color: red;
    padding-left: 1rem;
}

/*checkbox Recordarme */
.login-main .form-login .check-login {
    padding-left: 1rem;
    margin-right: 4rem;
    display: -webkit-inline-box;
}
/*label de recordarme*/
.login-main .form-login .check-login label.remember-login:hover {
    color: var(--cobre);
    cursor: pointer;

}

.login-main .form-login .check-login label.remember-login {
    font-size: 0.8rem;
    padding-bottom: 1px;
    
}
/*input de recordarme*/
.login-main .form-login .check-login input.input-check-login {
    position: relative;
    top: 2px;
    left: 3px;
}

/*container del button btn-whisking*/
.login-main .form-login .button-container-login {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.5rem;
}

.login-main .form-login .button-container-login .btn-whisking:hover {
    cursor: pointer;
    color:white;
}

.login-main .form-login .button-container-login .btn-whisking {
    height: 2.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    font-size: 0.9rem;
    background-color: var(--grisOscuro);
    color: var(--beige);
}

/*<a>¿olvidaste tu contraeña?</a>*/
.login-main .form-login .links-login a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 0.9rem;    
}

/*hover: <a>Aun no tengo cuenta</a>*/
.login-main .form-login a:hover {
    color: var(--cobre);
    font-size: 1rem;
    font-weight: 500;
}

/*Media Queries*/
@media(min-width:480px){

    .login-main {
        width: 490px;
        justify-content: center;
        margin: 10vh auto;
        border: 1px solid var(--grisOscuro);
        border-radius: 1.5rem;
        min-height: 480px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
}



