.productCart-main {
    min-height: 80vh;
}

.productCart-main .section1 {
    border: 1px solid black;
}


.productCart-main .productCartTitle {
    padding: 10px 0px;
}

i.fa-shopping-cart {
    font-size: 1.5rem;
    padding-left: 10px;
    color: var(--cobre);
}

h1.cart-title {
    display: inline-block;
    width: 80%;
    text-align: center;
    font-size: 1.8rem;
    color: var(--cobre);
}

.cart-subtitles {
    background-color: rgba(156, 121, 51, 0.3);
    display:flex;
    padding: 5px 2px;
    margin-right: 0px;
    padding-right: 0px;
}

.cart-subtitles h3 {
    font-size: 1rem;
    font-weight: 500;
}

.cart-subtitles :nth-child(1),
.cart-description :nth-child(1) {
    width: 60%;
}

.cart-subtitles :nth-child(2),
.cart-description :nth-child(2) {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}
.cart-subtitles :nth-child(3),
.cart-description :nth-child(3){
    padding-left:5px;
    text-align: right;
    width: 25%;
    padding-right: 0px;
    margin-right: 0px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.cart-description {
    display: flex;
    border-top: 1px solid black;
}

.cart-description .product-name {
    display:flex;
    justify-content: left;
    align-items: center;
}

.cart-description .product-name .product-img {
    padding: 5px;
    width: 50px;
    height: 50px;
    display:flex;
}

.cart-description .product-name .product-img img {
    height:100%;
    width: 100%;
    object-fit: contain;
}


.cart-description .product-name .product-name-text,
.cart-description .product-name .product-name-text p {
    width: 100%;
    font-size: 0.9rem;
}

.product-subt {
    font-size: 0.9rem;
}

/* Section 2 */

.productCart-main .section2 {
    border: 1px solid black;
    border-radius: 5px;
    width: 94%;
    margin: 2rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section2 .subtotal,
.envio, .cupon-desc, .total {
    display: flex;
    justify-content: space-between;
}
.section2 .total {
    font-weight: 500;
}
.section2 .subtotal,
.cupon-desc {
    background-color: rgba(156, 121, 51, 0.3)
}

.section2 .value1 {
    padding-left: 0.5rem;
    font-size: 0.9rem;
}

.section2 .value2 {
    padding-right: 0.5rem;
    font-size: 0.9rem;
}

.productCart-main .button-container {
    display: flex;
    justify-content: center;
}

.productCart-main .button-container button {
    height: 2.5rem;
    border-radius: 0.5rem ;
    padding: 0.5rem;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
    font-size: 0.9rem;
    font-weight: 700;
    background-color: var(--grisOscuro);
    color: var(--beige);
}

.productCart-main .button-container button:hover {
    color: white;
}

.productCart-main select {
    text-align: center;
}


@media (min-width: 480px) {
    .productCart-main {
        margin: 0 auto;
        max-width: 90%;
    }

    .productCart-main .section1 {
        
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

@media (min-width: 768px) {
    .productCart-main {
        margin: 0 auto;
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .sections {
        display:flex;
        
    }

    .productCart-main {
        max-width: 1100px;
    }

    .productCart-main .section1 {
        width: 50%;
    }

    .productCart-main .section2 {
        width: 50%;
        margin: 0 0 0 3rem;
    }
    .productCart-main .button-container {
        padding-top: 2rem;
    }
}