body .container-edit{
    font-size: small;
    width: 100%;
}
body .container-edit p{
    color:var(--grisOscuro);
    text-decoration: none;    
}
body .container-edit a{
    color:var(--grisOscuro);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    justify-content: left;
}
body .acceso{
    text-align: right;
    padding-right: 1.5rem;    
}

.body-edit input {
    font-size: 0.8rem;
}
nav.menu-edit{
    width: 100%;
    justify-content: right;
    padding-right: 0.5rem;
}
nav ul.nav-menu-edit{
    display: flex;
    flex-direction: row;
    text-align: right;
    margin-right: 0.5rem;
}
body nav ul.nav-menu-edit a{
    color: var(--cobre);
    text-decoration: none;
    margin-right: 0.5rem;
    font-weight: bold; 
    font-size: small;
}
body nav ul.nav-menu-edit a:hover{    
    color: var(--beige);
    background-color: var(--cobre);
    padding: 1rem;
    padding-bottom: 12px;
    box-shadow: 0px 0px 5px var(--grisOscuro);
}
main.edit-main{
    margin: 2rem 1rem;
    min-height: 80vh;
}

.body-edit h2 {
    padding-bottom: 1rem;
}
main span{
    font-weight: 100;
    font-size: small;
    color: red;
}
main .section-edit{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
} 
main .section-edit p{
    color: var(--cobre); 
    text-transform: uppercase;
    font-weight: bold; 
    font-size: small;
}
main .section-edit i{
    font-size: 150px;
    color: lightgray;
    display: flex;
    justify-content: center;
}
main .section-edit button{
    border: none;
    background-color: white;
    color: var(--grisOscuro);
    display: flex;
    justify-content: center;
}
main .botones{
    display: flex;
    justify-content: end;
    padding-top: 2rem;
}

main .addImage:hover{
    color: lightgray;
}

.body-edit .buttonCancel {
    position: relative;
    bottom: 31px;
}

.div-delete {
    display: flex;
    justify-content: center;
}

.buttonDelete {
    cursor: pointer;
    border-radius: 5px;
    color: var(--beige);
    background-color: #950909;
    width: 6rem;
    height: 2rem;
    text-transform: capitalize;
    border: none;
    font-weight: bold;
    font-size: small;
}

.buttonDelete:hover {
    color: white;
    background-color: red;
    box-shadow: 0px 0px 5px var(--grisOscuro);
}

.error-message-edit {
    font-size: 0.7rem;
}

/* MEDIAS QUERIES */
@media (min-width: 480px){
   main.edit-main{
       width:70% ; 
       margin:2rem auto;
    }
}

@media(min-width: 768px){

main.edit-main{
    max-width: 550px;
    margin: 2rem auto;
}

.body-edit .price-stock .section-edit {
    width: 50%;
}

}