header.headerCreate{
    background-color: var(--beige);
    width: 100%;
    height: 100px;
}
body .container-create{
    font-size: small;
    width: 100%;
}
body .container-create p{
    color:var(--grisOscuro);
    text-decoration: none;
    
}
body .container-create a{
    color:var(--grisOscuro);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    justify-content: left;
}
body .acceso{
    text-align: right;
    padding-right: 1.5rem;
    
}
nav.menu-create{
    width: 100%;
    justify-content: right;
    padding-right: 0.5rem;
}
nav ul.nav-menu-create{
    display: flex;
    flex-direction: row;
    text-align: right;
    margin-right: 0.5rem;
}
body nav ul.nav-menu-create a{
    color: var(--cobre);
    text-decoration: none;
    margin-right: 0.5rem;
    font-weight: bold; 
    font-size: small;
}
body nav ul.nav-menu-create a:hover{
    
    color: var(--beige);
    background-color: var(--cobre);
    padding: 1rem;
    padding-bottom: 12px;
    box-shadow: 0px 0px 5px var(--grisOscuro);
}
main.create-main{
    margin: 2rem 1rem;
    min-height: 80vh;
}
main span{
    font-weight: 100;
    font-size: small;
    color: red;
}
main .section-create{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
} 
main .section-create p{
    color: var(--cobre); 
    text-transform: uppercase;
    font-weight: bold; 
    font-size: small;
}
main .section-create i{
    font-size: 150px;
    color: lightgray;
    display: flex;
    justify-content: center;
}
main .section-create button{
    border: none;
    background-color: white;
    color: var(--grisOscuro);
    display: flex;
    justify-content: center;
}
main .botones{
    display: flex;
    justify-content: center;
}
main .addImage:hover{
color: lightgray;
}
main button.botonCreate{
    cursor: pointer;
    border-radius: 5px;
    color: var(--beige);
    background-color: var(--cobre);
    width: 6rem;
    height: 2rem;
    text-transform: capitalize;
    border: none;
    font-weight: bold; 
    font-size: small;
}
main button.botonCreate:hover{
    color: var(--cobre);
    background-color: var(--beige);
    box-shadow: 0px 0px 5px var(--grisOscuro);
}
main button.botonCancel{
    cursor: pointer;
    border-radius: 5px;
    color: var(--grisOscuro);
    background-color: #adacaa;
    width: 6rem;
    height: 2rem;
    text-transform: capitalize;
    border: none;
    font-weight: bold; 
    font-size: small;
    margin-right: 2rem;
}
main button.botonCancel:hover{
    color: #adacaa;
    background-color: var(--grisOscuro);
    box-shadow: 0px 0px 5px var(--grisOscuro);
}
footer.create{
    width: 100%;
    height: 50px;
    background-color: var(--beige);
}

/* MEDIAS QUERIES */
@media (min-width: 480px){
   main.create-main{
       width:70% ; 
       margin:2rem auto ;
    }
}

@media(min-width: 768px){
form .form-create{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
main.create-main{
    flex-direction: row;
    width: 100%;
    margin: 2rem 1rem;
}
form .price-stock{
    display: flex;
    justify-content: space-between;
}
form .price-stock input{
width: 95%;
}
form .price-stock .input-stock{
    align-self: end;
}
form .price-stock .stock p{
    margin-left: 0.5rem;
}

}