.register-main {
    background-color: var(--beige);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    padding: 2rem;
}

.register-main h2 {
    padding: 10px; 
    text-align: center;
    color: var(--cobre);
    text-transform: uppercase;

}
/* .register-main (falta form action=" ") */

.register-main .form-register {
    margin-top: 5px;
}

.register-main .form-register .input-container-register {
    padding: 10px 0px;
}

.register-main .form-register .input-container-register .input-style-register {
    border-radius: 1rem;
    height: 2rem;
    width: 100%;
    padding: 1rem;
 /*    background-color: var(--beige); */
    border: none;
} 

.register-main .form-register .input-container-register .error-message-register {
    display: block;
    color: red;
    padding-left: 1rem;
}

.register-main .form-register .check-register {
    padding-left: 1rem;
    margin-right: 4rem;
    display: -webkit-inline-box;
}

.register-main .form-register .check-register label.remember-login {
    font-size: 0.8rem;
    
}

/* .register-main .form-register .check-register input.input-check-login */


.register-main .form-register .button-container-register {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.5rem;
}

.register-main .form-register .button-container-register button {
    height: 2.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.register-main .form-register .links-register a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 0.9rem;    
}

.register-main .form-register a:hover {
    color: var(--cobre);
}

/* 
.register-main span {
    display: block;
    color: red;
    padding-left: 1rem;
} */
/* .register-main .check {
    padding-left: 1rem;
} */
/* .input-container {
    padding: 15px 0px;
} */
/* .input-container .input-style {
    border-radius: 1rem;
    height: 2rem;
    width: 100%;
    padding: 1rem;
} */ 
/* .check label.remember {
    font-size: 0.8rem;
    
} */
/* .button-container {
    display: flex;
    justify-content: right;
    padding-bottom: 0.5rem;
} */
/* .button-container button {
    height: 2.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
} */
/* .register-main form a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 0.9rem;    
} */
/* .register-main a:hover {
    color: var(--cobre);
} */

