<!-- views/index.ejs, productCart.ejs, login.ejs, register.ejs, productDetail.ejs-->
<footer>
    <div class="logo2">
        <img src="../images/logo2.svg" alt="logo2"> 
    </div>

    <div class="redesSociales">
        <a href="">contacto</a> <!-- link a formulario -->
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-whatsapp"></i>
    </div>
    <div class="copyright">
        <p>Copyright ©️ WhisKING 2021 | Todos los derechos reservados</p>
    </div>
</footer>