<!-- views/partials/footerAdmin.ejs --> <!-- le pertenece a productCreate y productEdit -->
<footer class="footer-admin">
    <div class="logo2">
         <img src="../images/isologoCobre.svg" alt="logoCobre">
        
    </div>

    <div class="redesSociales">
        <a href="">contacto</a> <!-- link a formulario -->
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-whatsapp"></i>
    </div>
    <div>
        <p class="copyright">Copyright ©️ WhisKING 2021 | Todos los derechos reservados</p>
    </div>
</footer>