<!-- views/partials/headerAdmin.ejs -->
<!-- le pertenece a productCreate y productEdit -->
<header class="headerCreate">
  <a href="/">
    <img src="../images/logoCobre.svg" alt="logoCobre">
    
  </a>
  <div class="container-create">
    <div class="acceso">
      <p>Usuario: Administrador</p>
      <a href="">cerrar sesión</a>
    </div>

    <nav class="menu-create">
      <ul class="nav-menu-create">
        <li><a href="">crear</a></li>
        <li><a href="">editar</a></li>
        <li><a href="">promos</a></li>
      </ul>
    </nav>
  </div>
</header>
