<!-- views/partials/headerAdmin.ejs -->
<!-- le pertenece a productCreate y productEdit -->
<header class="headerCreate">
  <a href="/">
    <img src="/images/logoCobre.svg" alt="logoCobre">
    
  </a>
  <div class="container-create">
    <div class="acceso"> 
      <% if (locals.user) { %>
        <li class="headerAdmin-userName">Usuario: <%= locals.user.name %></li>
        <% }%>
      <a href="/users/logout">cerrar sesión</a>
    </div>

    <nav class="menu-create">
      <ul class="nav-menu-create">
        <li><a href="/products/create">crear nuevo producto</a></li>
        <!-- <li><a href="/admin">Admin de usuarios</a></li> -->
      </ul>
    </nav>
  </div>
</header>
