<header>
    <div>
        <a href="/">
            <img src="/images/logo.svg" alt="logo">
        </a>
    </div>


    <div class="container">

        <div class="buscar">
            <input type="text" class="search-bar" placeholder="Buscar...">
            <a href="" class="lupa_buscar">
                <i class="fas fa-search fa-lg"></i>
            </a>
        </div>

    </div>

    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="bar-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul class="nav-menu">
            <li><a href="/users/register">Registrate</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="/productCart">Carrito</a></li>
            <li><a href="/users/login">Ingresar</a></li>
        </ul>
    </nav>
    
      
    <div class="user-icons-desktop">
        <ul>
            <li><a href="/products">Productos</a></li>
         </ul>     
        <div class="user">
            <% if (locals.user ) { %>
                <i class="fas fa-user"></i><span class="session"></span>
                <div class="menu-user">
                    <a class="menu_user" href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                    <a class="menu_user" href="/users/profile">Mis datos</a>
                    <a class="menu_user" href="/users/logout">Cerrar sesión</a>
                    <% if (locals.user.rol) { %>
                        <a class="menu_user" href="/admin">ADMIN</a>
                        <% } %>
                </div>
                <% } else {%>
                    <!-- <li><a href="/users/register">Registrate</a></li> --> <!-- no hace falta -->
                    <a href="/users/login"><i class="fas fa-user"></i></a>
                    <% } %>
        </div>
        <% if (locals.user && locals.user.rol) { %>
            <li><a>Bienvenido <%= locals.user.name %> </a></li>
            <% }%>
        
    </div>

</header>