<header>
    <div>
        <a href="/">
            <img src="/images/logo.svg" alt="logo">
        </a>
    </div>


    <div class="container">
        <form action="/search/all" method="GET" class="search-form"> <!-- ponerle css a las class -->

            <div class="search-bar"> <!-- era "buscar" -->
                <input type="search" class="search-bar" name="keywords" placeholder="Buscar...">
                <!-- <a href="" class="lupa_buscar">
                    <i class="fas fa-search fa-lg"></i>
                </a> -->
                <button type="submit"><i class="fas fa-search fa-lg"></i></button>

            </div>
            
        </form>
    </div>

    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="bar-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul class="nav-menu">
            <li><a href="/users/register">Registrate</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="/productCart">Carrito</a></li>
            <li><a href="/users/login">Ingresar</a></li>
        </ul>
    </nav>
    
      
    <div class="user-icons-desktop">
        <% if (locals.user && locals.user.rol) { %>
            <li><a>Bienvenido <%= locals.user.name %> </a></li>
            <% }%>      
        <div class="user">
            <% if (locals.user ) { %>
                <i class="fas fa-user"></i><span class="session"></span>
                <div class="menu-user">
                    <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                    <a href="/users/profile">Mis datos</a>
                    <a href="/users/logout">Cerrar sesión</a>
                    <% if (locals.user.rol) { %>
                        <a href="/admin">ADMIN</a>
                        <% } %>
                </div>
                <% } else {%>
                    <!-- <li><a href="/users/register">Registrate</a></li> --> <!-- no hace falta -->
                    <a href="/users/login"><i class="fas fa-user"></i></a>
                    <% } %>
        </div>
        <ul>
            <li><a href="/products">Productos</a></li>
         </ul>
    </div>

</header>