<!-- views/index.ejs, productCart.ejs, login.ejs, register.ejs, productDetails.ejs-->
<header>
    <div> 
        <a href="/">
            <img src="/images/logo.svg" alt="logo">
        </a>
    </div>    


    <div class="container">

        <div class="buscar">
            <input type="text" class="search-bar" placeholder="Buscar...">
            <a href="" class="lupa_buscar">
                <i class="fas fa-search fa-lg"></i>
            </a>
        </div>

    </div>

    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="bar-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul class="nav-menu">
            <li><a href="/users/register">Registrate</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="/productCart">Carrito</a></li>
            <li><a href="/users/login">Ingresar</a></li>
        </ul>
    </nav>
</header>