<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs', {title: 'The WhisKING Argentina'})%> 
<body>
    <%- include('./partials/header.ejs')%>
    <h1>Oops...  No encontramos la página que buscabas</h1>
    <%- include('./partials/footer.ejs') %>
</body>
</html>