<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs', {title: 'The WhisKING Argentina'})%>
  <body class = "body-404">
    <%- include('./partials/header.ejs')%>
    <main class ="main-404">
    <h1 style = "color: white">No encontramos la página que buscabas...</h1>
  </main>
    <%- include('./partials/footer.ejs') %>
  
  </body>
</html>
