<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs', {title: 'The WhisKING Argentina'})%> 
<body>
    <%- include('./partials/header.ejs')%>
    <h1>The WhisKING Argentina</h1>

    <h2>Estamos actualizando para brindarte una mejor experiencia.</h2>
    <h3>Esto podría tomar algunos minutos más. Cuando termine este proceso </h3>
    <h3>podrás ingresar al Ecommerce como siempre. ¡Te agradecemos la espera!</h3>


    <h2>The WisKing Argentina</h2>

    <%- include('./partials/footer.ejs') %>
</body>
</html>