<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %>
    <style>
        #cart {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #cart td,
        #cart th {
            border: 1px solid #ddd;
            padding: 8px;
        }


        #cart tr.item {
            border-bottom: 2px solid #aa4604;
        }

        #cart th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #aa4604;
            color: white;
        }
    </style>

    <body>
        <%- include('./partials/header.ejs') %>

            <div class="profile-avatar-main" style="display: block;">
                <div class="">
                    <!--  -->
                    <div class="bloque1">
                        <h2 style="text-align: center;">Mi Compra</h2>
                        <hr>
                    </div>
                    <div class="bloque2" style="margin-top: 30px;">
                        <table id="cart">
                            <tr>
                                <th>Imagen</th>
                                <th>Cantidad</th>
                                <th>Producto</th>
                                <th>Precio Unitario</th>
                                <th>Subtotal</th>
                            </tr>
                            <tbody id="cart-body">
                              
                            </tbody>
                           
                            

                        </table>


                    </div>

                </div>



                </section>
            </div>
          
            </div>
            <%- include('./partials/footer.ejs') %>
            <%- include('./partials/scripts.ejs') %>
    </body>

</html>