<!DOCTYPE html>
<html lang="es">
    <%- include('/partials/head.ejs', {title:'Términos y condiciones - The WhisKING Argentina'})%> 
<body>
    <%- include('/partials/header.ejs')  %> 
    <main class="terms">
        <h2>Consideraciones</h2>
        <section class="paragraph"> 
            <p>Este sitio web <a href="index.html">wwww.thewhisking.com.ar</a> en adelante, el "sitio web" es de propiedad de Gisela Puente, Franco Ojeda, Jorge Vargas y María Fernanda Miranda, CUIT Nº 30-61764626-1, con domicilio en calle San Luis 2944, ciudad de Mar del Plata, Buenos Aires, Argentina.</p>
            <p>Los presentes términos y condiciones aplican tanto para la página principal del sitio web, como para aquellas otras que hayan sido creadas por The WisKING e indiquen de manera expresa e inequívoca que forman parte integrante de este sitio web.</p>
            <p>Los términos y condiciones que rigen el uso, acceso, registro, visita, y utilización del sitio web, como así también, la adquisición de productos y/o servicios ofrecidos en su plataforma de comercio electrónico(ecommerce), tienen carácter obligatorio y vinculante.</p>
            <p>La vigencia de los términos y condiciones se mantendra mientras se encuentren publicados en el sitio web, pudiendo The WhisKING modificarlos en cualquier momento sin previo aviso.</p>
            <p>Se consideran parte integrante de estos términos y condiciones de uso y contratación, la política de privacidad, la política de cookies, las políticas de ventas, de devolución, cambio y reembolso, como así también las demás reglas o normas que puedan ser dispuestos en las páginas específicas de <a href="index.html">www.thewhisking.com.ar</a></p>
            <p>Por cualquier duda o consulta, puede <a href="mailto:serviciocliente@thewhisking.com.ar?Subject=Interesado%20en%20nuestro%20catalogo">contactarnos por correo</a></p>

            <p><strong>usuario</strong></p>
            <p>Se entenderá por usuario a toda aquella persona que navegue por el sitio web, accediendo a cualquiera de sus páginas o secciones, bastando con el simple acceso y/o uso de este sitio web, aceptando desde dicho acceso y/o uso, los términos y condiciones aquí reflejados.</p>
            <p>En caso de que el usuario desee contratar alguno de los servicios ofrecidos en el sitio web, se aplicarán también las políticas de contratación, las cuales serán de obligatorio cumplimiento.</p>
            <p>Al hacer uso de <a href="index.html">www.thewhisking.com.ar</a>, el usuario acepta de forma expresa y sin reservas quedar vinculado por los términos y condiciones que rigen el sitio web. En caso de no estar de acuerdo con los presentes términos y condiciones, le solicitamos que se abstenga de visitar nuestras páginas, utilizar nuestros servicios y/o de realizar cualquier pedido. </p>
            <p>El usuario mayor de 18 años de edad que no aceptare los términos y condiciones, y/o cualquiera de las políticas que rigen el sitio web y su plataforma de ecommerce, deberá abstenerse inmediatamente de continuar con su visita, navegación, uso, acceso, y/o registro del mismo, y de efectuar cualquier operación en el mismo.</p>
            
            <P><strong>prohibición de acceso, uso y registro en el sitio web a menores de 18 años de edad.</strong></P>
            <p>Se encuentra estrictamente prohibido el ingreso, uso, navegación, registro y/o acceso al sitio web a los usuarios menores de 18 años de edad. El usuario, que no sea mayor de 18 años de edad, deberá abstenerse de forma inmediata de continuar con su visita, navegación, uso, acceso, y/o registro del mismo, como así también de efectuar cualquier operación. The WisKING no tiene manera de comprobar efectivamente la edad de los usuarios, por lo que queda eximido de cualquier responsabilidad, si el usuario no cumple con lo aquí indicado.</p>
            <p>Los padres, tutores y/o responsables de los menores de 18 años que utilicen el sitio web, son plena y exclusivamente responsables por el uso y acciones que aquéllos realicen en el sitio web, incluyendo sin limitación, cualquier cargo o costo que puedan ocasionar con motivo de sus acciones.</p>

            <P><strong>uso del sitio web</strong></P>
            <p>Toda la información gráfica, textual, de multimedia, fotografías, imágenes, videos, música y/o cualquier otro formato de archivo, que se encuentran en el sitio web, entendidos de aquí en adelante como “los contenidos”, le pertenecen a The WhisKING y/o a sus respectivos autores, y están protegidos por las leyes de derecho de autor a nivel nacional e internacional.</p>
            <p>Los usuarios, visitantes o clientes, que usen, accedan, se registren, en el sitio web se obligan a utilizarlo conforme con la ley y con lo previsto en los presentes términos y condiciones y sus partes integrantes. El usuario, visitante y/o cliente es responsable del correcto uso del sitio web, de los servicios que en este se ofrecen, de su plataforma de ecommerce, y se obliga a no emplearlo para:</p>
                <section class="items">
                    <ul type="square">
                        <li>*Realizar actividades ilícitas, ilegales o contrarias a la moral, buenas costumbres, buena fe y al orden público;</li>
                        <li>*Realizar comentarios o difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico, de apología del terrorismo, que atente contra los derechos humanos o civiles en general;</li>
                        <li>*Provocar daños de cualquier tipo al sitio web o su plataforma de ecommerce, a la persona propietaria de www.coleccionistadevinos.com, a sus derechos e intereses, a sus proveedores o a terceras personas;</li>
                        <li>*Introducir o difundir en la red virus informáticos o cualesquiera otros sistemas físicos o lógicos que sean susceptibles de provocar los daños anteriormente mencionados;</li>
                        <li>*Realizar actos que puedan inutilizar, sobrecargar o deteriorar el sitio web o su plataforma de ecommerce.</li>
                        <li>*Intentar acceder y/o utilizar las cuentas de correo electrónico de otros usuarios y modificarlos o manipular sus mensajes.</li>
                    </ul>
                </section>
            <p>The WhisKING se reserva el derecho de retirar todos aquellos comentarios en el sitio web que vulneren el respeto a la dignidad de la persona, que sean discriminatorios, xenófobos, racistas, pornográficos, que atenten contra la juventud o la infancia, el orden o la seguridad pública o que, a su juicio, no resultaran adecuados para su publicación.</p>
            <p>En cualquier caso, The WhisKING no será responsable de las opiniones dadas por los usuarios en cualquier herramienta de opinión que contenga el sitio web.</p>

            <P><strong>registracion del usuario en el sitio web</strong></P>
            <p>Es requisito obligatorio que el usuario se registre en <a href="index.html">www.thewhisking.com.ar</a> para realizar cualquier tipo de transacción mediante la utilización de la plataforma de ecommerce del sitio web. El registro de usuario es de carácter gratuito y sin costo alguno. Al registrarse, se creará de manera automática una cuenta personal para el usuario, denominada “Mi Cuenta”, que contendrá su dirección de correo electrónico y una contraseña de seguridad. El usuario que se registre en el sitio web se obliga a mantener la confidencialidad de su respectiva contraseña.</p>
            <p>Los usuarios que se registren en el sitio web declaran, garantizan y responden, en cualquier caso, por la veracidad, exactitud, vigencia y autenticidad de la información registrada en los formularios.</p>            
            <p>Los usuarios deberán completar todos los formularios en el sitio web con sus datos personales reales, exactos, ciertos y actuales.</p>

            <P><strong>denegación y retiro de acceso</strong></P>
            <p>The WhisKING se reserva el derecho a denegar o retirar el acceso al sitio web sin necesidad de preaviso, a instancia propia o de un tercero, a aquellos usuarios y/o clientes que incumplan los presentes términos y condiciones, hubieren ingresado datos falseando la verdad, se verifique o se tenga sospecha de que sea menor de 18 (dieciocho) años de edad o no cuente con capacidad legal para contratar, que los datos ingresados no hayan podido ser confirmados, y/o que realicen cualquier acción que viole las leyes nacionales vigentes, contraríe la moral, las buenas costumbres, la buena fe y el orden público.</p>

            <P><strong>consumo de bebidas alcohólicas. advertencia</strong></P>
            <p>Se encuentra expresamente prohibida la venta de bebidas alcohólicas a menores de 18 años. Se recomienda beber con moderación.</p>
            <p>El consumo de bebidas alcohólicas puede ser perjudicial para la salud. Se recomienda consultar a su médico de confianza antes de consumirlas. Beber en exceso daña su salud y puede causar daños a terceros. Recomendamos a las personas menores de 18 años de edad, embarazadas, ancianas, o que se encuentren consumiendo algún tipo de medicación, no beber alcohol.</p>

            <P><strong>propiedad intelectual</strong></P>
            <p>The WhisKING es el titular y propietario de todos los derechos de propiedad intelectual e industrial del sitio web, así como de los elementos contenidos en la mismo, los cuales, a título enunciativo, pero no limitativo, son: imágenes, sonido, fotografías, audios, vídeos, softwares, textos, scripts, códigos, estadísticas, informes, datos, notas, archivos de cualquier tipo, software, bases de datos, marcas, logotipos, combinaciones de colores, estructura, diseño, selección de materiales usados, programas necesarios para su funcionamiento, acceso y uso. Queda expresamente prohibido traducir, descompilar, construir a la inversa, desensamblar, copiar, modificar, reproducir, duplicar, arrendar, publicar, divulgar, transmitir, distribuir, comercializar o disponer de cualquier forma de ninguna parte del sitio web y/o su contenido en cualquier soporte, y por cualquier medio técnico, sin el previo consentimiento y autorización escrita de The WhisKING.</p>
            <p>El usuario se compromete a respetar los derechos de autor de titularidad de The WhisKING. Podrá en consecuencia visualizar, imprimir, almacenar en un dispositivo electrónico o virtual, pero única y exclusivamente para su uso personal y privado, no pudiendo en ningún momento distribuirlos, reproducirlos, copiarlos, onerosa o gratuitamente, a terceros. En todo caso, deberá siempre hacer mención a la autoría de The WhisKING y al sitio web cuando decida compartir en cualquier red social alguno de los contenidos, no pudiendo en ningún momento modificar, total o parcialmente, cualquiera de los contenidos.</p>
            <p>No se podrá compartir ningún extracto de un curso, libro, ebook, videograbación, entrada del blog o de cualquier parte del sitio web, ya sea incluso una mención a terceros. En caso de desear utilizar material incluido en este sitio web, se deberá solicitar y obtener previamente la pertinente autorización a The WhisKING.</p>
            <p>Todas las marcas de productos que se mencionan y/o comercializan están protegidas por la legislación de marcas y pertenecen a sus respectivos titulares.</p>
           

            <P><strong>exclusión de garantías y responsabilidad</strong></P>
            <p>The WhisKING ha adoptado todas las medidas tecnológicas y de seguridad necesarias en el sitio web, para evitar daños y perjuicios de cualquier naturaleza que pudieran ocasionar, a título enunciativo, los errores u omisiones en los contenidos, su desactualización, falta de disponibilidad del sitio web o la transmisión de virus o programas maliciosos o lesivos en los contenidos o en los datos de los usuarios, y no se hace responsable si en algún momento una de estas medidas falla como consecuencia de un uso indebido y/o abusivo por parte de un tercero.</p>
            <p>El usuario deberá en todo momento abstenerse de suprimir, alterar, eludir o manipular cualquier dispositivo de protección o sistema de seguridad que estuviera instalado en el sitio web.</p>
            <p>El sitio web www.coleccionistadevinos.com se encuentra protegido mediante un sistema de seguridad de cifrado por capa de conexión segura (Secure Socket Layer), para encriptar los datos de los usuarios que se cargan en el sitio web.</p>
            
            <P><strong>modificaciones en el sitio web</strong></P>
            <p>The WhisKING se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en el sitio web, pudiendo cambiar, suprimir o añadir tanto los contenidos, información, y servicios ofrecidos, los precios de productos que se comercialicen a través del mismo y/o su plataforma de ecommerce, la forma en la que éstos aparezcan presentados o localizados, así como el diseño y estructura del mismo.</p>

            <P><strong>enlaces</strong></P>
            <p>The WhisKING no tiene control alguno sobre los enlaces y/o contenidos externos que puedan existir en el sitio web, por lo que, no se hace responsable por los mismos, ni garantiza la disponibilidad técnica, calidad, fiabilidad, exactitud, amplitud, veracidad o validez de cualquier material o información allí contenida. Los enlaces externos no serán entendidos como una posible asociación, fusión, colaboración o participación con el titular y/o responsable del dominio web al cual estén asociados.</p>


            <P><strong>exclusión de garantía de resultados</strong></P>
            <p>The WhisKING no se hará responsable por el éxito o fracaso de los usuarios en la aplicación de la información que reciban del sitio web o de los servicios ofrecidos en www.coleccionistadevinos.com. El usuario será el único responsable por la aplicación y uso de la información o material informativo suministrado por The WhisKING.</p>
            <p>Los contenidos e información que se suministran, se imparten de manera informativa. The WhisKING no sustituye alguna asesoría profesional que el usuario, cliente o participante requiera sobre un tema determinado, y no se hará responsable por los problemas que pueda tener éste por un uso, correcto o incorrecto, de la información suministrada, o por no tomar en cuenta problemas de salud, ideológicos, económicos o de cualquier otra índole que pudieran ser afectados por el contenido que se encuentre de forma gratuita o no, expuesto dentro del sitio web.</p>
            <p>The WhisKING no garantiza la exactitud, veracidad, actualización, confiabilidad y/o completitud de la totalidad de la información contenida o referenciada en el sitio web. The WhisKING no se hace responsable por cualquier tipo de daño, directo o indirecto, mediato, inmediato, consecuente, derivado del acceso a la información contenida en el sitio web, como así tampoco, ninguna persona involucrada en el proceso de creación, producción o publicación del sitio web.</p>

            <P><strong>eventual violación de derechos de propiedad intelectual y/o industrial</strong></P>
            <p>Para el caso en que se considere que alguno de los productos que se ofrecen para la venta en el sitio web infringen derechos de propiedad intelectual o industrial de terceros, deberá notificarse a The WhisKING para <a href="mailto:serviciocliente@thewhisking.com.ar?Subject=Interesado%20en%20nuestro%20catalogo">contactarnos por correo</a> , incluyendo la siguiente información: datos personales (nombre y apellido, número de DNI, domicilio, teléfono de contacto) del reclamante y/o del titular de los derechos de propiedad intelectual y/o industrial supuestamente infringidos; notificación o solicitud de reclamo firmado por el reclamante o titular, indicación expresa, precisa y completa de los derechos de propiedad intelectual y/o industrial supuestamente infringidos, su localización en el sitio web.</p>


            <P><strong>interrupciones o desconexiones en el sitio web</strong></P>
            <p>Ante eventuales desconexiones, cortes y/o interrupciones en el funcionamiento del sitio web con motivos de su mantenimiento, y/o a causa de hechos, acontecimientos o eventos, de cualquier naturaleza que se encuentren fuera del alcance y control de The WhisKING, le recomendamos al usuario, visitante y/o cliente, <a href="mailto:serviciocliente@thewhisking.com.ar?Subject=Interesado%20en%20nuestro%20catalogo">contactarnos por correo</a> a fin de poder brindarles una solución y asistirlo.</p>

            <P><strong>modificación de los términos y condiciones</strong></P>
            <p>The WhisKING podrá modificar, en cualquier momento, los términos y condiciones del sitio web, sin previo aviso y estarán vigentes mientras se encuentren debidamente publicados. Es responsabilidad del usuario y/o cliente leerlos cada vez que ingrese al sitio web.</p>

            <P><strong>resolución de problemas</strong></P>
            <p>El usuario o el cliente podrá escribir para <a href="mailto:serviciocliente@thewhisking.com.ar?Subject=Interesado%20en%20nuestro%20catalogo">contactarnos por correo</a>para resolver cualquier problema que tenga con el sitio web, plataforma de ecommerce y/o o con el servicio prestado.</p>

            <P><strong>políticas de venta</strong></P>
            <p>Se entenderá por comprador a toda aquella persona que adquiera algún producto del catálogo ofrecido por The WhisKING en su sitio web <a href="index.html">www.thewhisking.com.ar</a>.</p>
            <p>Los productos se encuentran a la venta en el sitio web y su plataforma de ecommerce. El comprador deberá pagar la totalidad del precio antes del envío y los adquiere bajo su propia responsabilidad.</p>
            <p>Toda la información sobre los productos se encuentra en el sitio web.</p>


            <P><strong>precio</strong></P>
            <p>Los precios de los productos se encuentran publicados en el sitio web e incluyen el Impuesto al valor Agregado (IVA), salvo que se indique lo contrario. La información sobre productos y precios está sujeta a cambios sin previo aviso.</p>
            <p>Los precios en el sitio web están expresados en pesos argentinos.</p>
            <p>Las promociones no son acumulables, ni combinables con otras, excepto que se aclare en la promoción. Los descuentos y promociones publicados corresponden a la venta online de productos y comercializados a través del sitio web.</p>


            <P><strong>proceso de compra</strong></P>
            <p>Para realizar una compra en <a href="index.html">www.thewhisking.com.ar</a>, es obligatorio que el usuario tenga una cuenta de registro e ingrese al sitio web.</p>
            <p>Deberá seleccionar los productos que desea adquirir y agregarlos al carrito de compras.</p>
            <p>Luego de agregados todos los productos deseados en el carrito de compras, el usuario podrá aplicar el cupón de descuento y/o código de descuento, en caso de tener uno.</p>
            <p>Calculará el costo de envío ingresando la dirección al cual desea enviar los productos.</p>
            <p>Completará todos los campos requeridos en el formulario de envío con información detallada, completa y veraz.</p>
            <p>Ingresará en el formulario de compra todos los datos requeridos para la facturación.</p>
            <p>Revisará el pedido y seleccionará la forma de pago (transferencia bancaria o Mercado Pago)</p>
            <p>Una vez efectuado el pago, el usuario recibirá una confirmación de compra en el correo electrónico proveído en el formulario.</p>
            <p>En su cuenta de registro “Mi Cuenta” podrá consultar información acerca del estado de pedidos y compras realizadas.</p>
            

            <P><strong>medios de pago</strong></P>
            <p>Los medios de pago disponibles son:</p>
                <section class="items">
                    <ul>
                        <li>-Transferencia bancaria. Para realizar el pago de la compra, el usuario o comprador deberá seleccionar esta opción en la página de finalización de compra.;</li>
                        <li>-El comprador recibirá una confirmación del pedido al correo electrónico indicado para realizar el pago por transferencia bancaria en un lapso de 60 minutos.;</li>
                        <li>-Si pasado ese tiempo, el comprador no efectuara el pago o este último no se acreditáse, la compra será cancelada.;</li>
                        <li>-Una vez acreditado el pago, el comprador recibirá la confirmación de su compra y comprobante al correo electrónico ingresado previamente.;</li>
                        <li>-Mercado Pago. El usuario o comprador podrá pagar con los medios ofrecidos por Mercado Pago en la página de finalización de compra. Para conocer más acerca de los medios disponibles de pago puede consultar el siguiente enlace: <a href="https://www.mercadopago.com.ar/ayuda/medios-de-pago-vendedores_wk">Mesa de Ayuda: Mercado Pago</a> .</li>
                        <li>-Las compras con tarjeta de crédito pueden realizarse en pagos de una cuota o bien en cuotas sujetas a las promociones y condiciones ofrecidas por Mercado Pago.</li>
                        <li>-Las metodologías de pago a través de Mercado Pago quedan sujetas a sus modificaciones, cuyos términos y condiciones (por ej. intereses aplicables en las cuotas) deben ser aceptados por el comprador. Para más información sobre las condiciones e intereses aplicables en pagos en cuotas puede consultar el siguiente enlace <a href="https://www.mercadopago.com.ar/ayuda/costos.financiacion_twk">Mesa de Ayuda: Costos Financieros Mercado Pago</a></li>
                        <li>-Se recomienda al usuario leer y verificar los términos y condiciones de Mercado Pago antes de realizar la compra.</li>                   
                    </ul>
                </section>           


            <P><strong>información relacionada con los pagos</strong></P>
            <p>El pago de las compras realizadas en <a href="index.html">www.thewhisking.com.ar</a> se procesa únicamente a través de la plataforma de Mercado Pago y los datos se encuentran encriptados para la seguridad de transferencia de la información.</p>
            <p>El sitio web <a href="index.html">www.thewhisking.com.ar</a> no almacena, ni registra los datos de las tarjetas de los usuarios, clientes y/o compradores.</p>
            <p>Los pagos en el sitio web se realizan siempre a través de la plataforma de Mercado Pago, siendo esta la única receptora de los datos relacionados con la tarjeta de crédito y/o débito del cliente, a los cuales ni The WhisKING, ni nadie del equipo de trabajo, tienen acceso. Ante cualquier eventualidad, Mercado Pago (Mercado Libre S.R.L.) será la única responsable de estos datos.</p>
            <p>Por cualquier duda o consulta puede contactarnos a través del correo electrónico <a href="mailto:serviciocliente@thewhisking.com.ar?Subject=Interesado%20en%20nuestro%20catalogo">contactarnos por correo</a>, el formulario de contacto proveído en el sitio web, o bien a los teléfonos +54 9 223 123-4567 o +54 9 223 456-7890.</p>

            <P><strong>envíos</strong></P>
            <p>El comprador deberá pagar el envío cuyo valor será adicionado al precio de los productos a adquirir y deberá ser consultado en el sitio web al momento del pago en el resumen de la compra.</p>
            <p>El costo del envío está relacionado con el lugar de destino del mismo. En el sitio web, se indicará al usuario o comprador el costo estimativo del envío antes de realizar la compra.</p>
            <p>Los tiempos de envío varían según la dirección a la que el usuario o comprador desee enviar el producto.</p>
            <p>El comprador indicará la dirección de destino en el formulario especificando todos los datos requeridos. Es responsabilidad del comprador la exactitud de los datos para el envío, por tanto, si el producto no llega a su verdadero destino, por error en el suministro de la dirección por parte del comprador, no se realizará ningún cambio o devolución, ni se realizará ninguna gestión administrativa para que se corrija la dirección.</p>
            <p>Si el error en los datos del envío es imputable a The WhisKING se realizarán todas las acciones necesarias para que el producto llegue al comprador, sin costo adicional alguno.</p>
            <p>Los envíos serán realizados exclusivamente a la dirección donde el comprador indique a The WhisKING al momento de la compra y serán entregados a través de la empresa de correo ANDREANI. Para más información acerca del transportista, puede hacer click en el siguiente enlace <a href="https://www.andreani.com">www.andreani.com</a>.</p>
            <p>Los pedidos serán despachados dentro de las 24 a 48 hs hábiles. Una vez realizado el envío, recibirás un correo electrónico de confirmación con los datos para realizar el seguimiento online de los productos.</p>
            <p>Se podrá realizar el seguimiento del envío en el sitio web de Andreani consultando el siguiente enlace <a href="https://seguimiento.andreani.com/">a Andreani</a></p>
            <p>Una vez despachados los envíos, los tiempos estimativos de entrega son:</p>
                <section class="items">
                    <ul>
                        <li>#Ciudad de Mar del Plata – Envío a domicilio en 24 a 48hs;</li>
                        <li>#Interior de la Costa – Envío a domicilio dentro de 7 días hábiles;</li>
                        <li>#Interior del país – Envío a domicilio entre 7 a 15 días hábiles;</li>
                        <li>#Interior del país y Patagonia – Envío a domicilio entre 7 a 15 días hábiles;</li>                                    
                    </ul>
                </section>   
            <p>Si el comprador deseara que el envío se haga a un lugar distinto del indicado previamente, deberá enviar de inmediato un correo a  <a href="mailto:serviciocliente@thewhisking.com.ar?Subject=Interesado%20en%20nuestro%20catalogo">contactarnos por correo</a>, a los fines de verificar las condiciones y el costo del envío.</p>


            <P><strong>devolución, cambios y reembolsos</strong></P>
            <p>El consumidor tiene derecho a revocar la aceptación durante el plazo de DIEZ (10) días corridos contados a partir de la fecha en que se entregue el bien o se celebre el contrato, lo último que ocurra, sin responsabilidad alguna. Si el plazo vence en día inhábil, se prorroga hasta el primer día hábil siguiente. Esta facultad no puede ser dispensada ni renunciada. El consumidor debe poner el bien a disposición del vendedor y los gastos de devolución son por cuenta de este último. El consumidor comunicará fehacientemente dicha revocación al proveedor y pondrá la cosa a su disposición. Los gastos de devolución son por cuenta del proveedor. Para ejercer el derecho de revocación el consumidor deberá poner la cosa a disposición del vendedor sin haberla usado y manteniéndola en el mismo estado en que la recibió, debiendo restituir el proveedor al consumidor los importes recibidos.</p>
            <p>Una vez transcurrido el plazo mencionado, The WhisKING se reserva el derecho de aceptar o no la devolución o cambio del producto.</p>
            <p>El comprador deberá notificar, dentro del plazo indicado, su voluntad de devolver el producto, escribiendo al correo electrónico  <a href="mailto:serviciocliente@thewhisking.com.ar?Subject=Interesado%20en%20nuestro%20catalogo">contactarnos por correo</a>. En su solicitud de devolución, deberá indicar su nombre y apellido completo, número de DNI, domicilio, enviar el comprobante de compra y foto de los productos recibidos.</p>
            <p>Una vez que The WhisKING dé respuesta al correo electrónico enviado, el comprador procederá a enviar el producto.</p>
            <p>Para la devolución, el producto debe estar totalmente sellado, deberá ser devuelto dentro del plazo indicado con todo el envoltorio y posibles accesorios que haya recibido.</p>
            <p>Cuando el producto sea recibido por The WhisKING, se verificará que el mismo haya llegado en las mismas condiciones que fue despachado la primera vez, luego de comprobar que no tiene defectos, y está completo, se procederá a la devolución del dinero al comprador.</p>
            <p>Cuando el defecto en el producto sea consecuencia de un manejo inadecuado por parte del comprador, incluyendo la inobservancia de las condiciones de conservación indicadas, no procederá la devolución del dinero.</p>

            <P><strong>acciones legales</strong></P>
            <p>The WhisKING podrá, en cualquier momento, ejercer acciones legales de carácter civil o penal, contra cualquier persona que realice un uso indebido del contenido expuesto en el sitio web, o por incumplir con estos términos y condiciones.</p>

            <P><strong>jurisdicción y legislación aplicable</strong></P>
            <p>Se aplicará en todo momento la legislación vigente de la República Argentina, y en caso de algún conflicto o controversia, las partes se someterán a la jurisdicción de los Tribunales Ordinarios de la ciudad de Mar del Plata, Provincia de Buenos Aires, Argentina, por ser el domicilio del titular y propietario del sitio web, renunciando las partes a cualquier otro fuero y/o jurisdicción.</p>
            
            
            <P><strong>formas de contacto</strong></P>
            <p>Por cualquier duda o consulta, si el usuario y/o cliente deseara contactar a The WhisKING, podrá enviar un correo electrónico a <a href="mailto:serviciocliente@thewhisking.com.ar?Subject=Interesado%20en%20nuestro%20catalogo">contactarnos por correo</a>. De igual forma podrá contactarnos a través del formulario de contacto en el sitio web, o a los teléfonos +54 9 223 123-4567 o +54 9 223 123-7890</p>
            <br>
            
            <a href="/">Volver al Home</a>
            <p>Última fecha de actualización: 14 de noviembre, 2021 </p>
        </section>    


    </main>
    <footer>
        <div class="logo2">
            <img src="images/logo2.svg" alt="logo">
        </div>

        <div class="redesSociales">
            <a href="">contacto</a> <!-- link a formulario -->
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-whatsapp"></i>
        </div>
        <div class="copyright">
            <p>Copyright ©️ WhisKING 2021 | Todos los derechos reservados</p>
        </div>
    </footer>
</body>

</html>