<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
    <%- include('../partials/head.ejs'), {title: 'Editar Producto'}   %>

<body class="body-edit">
    <!-- HeaderAdmin -->
    <%- include('../partials/headerAdmin.ejs')  %> 
    <!-- /Header -->

    <main class="edit-main">

        <form action="/products" method="POST">
            <div class="searchEdit">
                <p class="tituloEdit">producto</p>
                <input class="buscarEdit" type="search" placeholder="buscar" name="" id="">
            </div>
            <section class="sectionEdit">
                <div class="container-product">
                    <div class="img-container">
                        <img src="../images/productos/whisky_03.jpeg" alt="whisky">
                    </div>
                    <div class="product-description">
                        <p>nombre</p>
                        <p>categoria</p>
                        <p>precio</p>
                        <p>descuento</p>
                    </div>
                </div>
                <div class="buttons-cancel-create">
                    <button type="submit" class="botonCancel">eliminar</button>
                    <button type="submit" class="btn-whisking2">editar</button>
                </div>

            </section>

        </form>


    </main>
    <%-include('../partials/footerAdmin.ejs')%> 
</body>

</html>