<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs')  %> 

<body>
    <%- include('../partials/header.ejs')  %> 

    <main class="productDetail">
        <div class="productResponsive">
            <div class="img-container">
                <div class="second-img">
                    <img src="/images/productos/whisky_01.jpeg" alt="">
                    <img src="/images/productos/whisky_02.jpeg" alt="">
                    <img src="/images/productos/whisky_03.jpeg" alt="">
                </div>
                <div class="main-img">
                    <img src="/images/productos/whisky_04.jpeg" alt="">
                </div>
            </div>
            <div class="productResponsive2">
                <div class="nombreProducto">
                    <h2>Nombre del producto</h2>
                </div>
                <div class="productDescription">
                    <div class="precio">
                        <p>Precio: </p>
                        <p>$10000</p>
                    </div>
                    <div class="button-container">
                        <button class="comprar btn-whisking">Comprar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="productDescription-text">
            <div class="pais-origen">
                <p>País de origen: </p>
                <p>Escocia</p>
            </div>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore amet inventore optio officiis numquam sit
            dicta illo quibusdam, minima voluptas adipisci hic, provident distinctio obcaecati quisquam libero unde!
            Sint, vero.
        </div>
    </main>
    <%- include('../partials/footer.ejs')  %>
</body>
</html>