<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details page</title>
    <link rel="stylesheet" href="">
    <!--hoja de estilo google fonts-->
    <link rel="stylesheet" href="/css/normalize.css">
    <!--hoja de estilo normalize-->
    <link rel="stylesheet" href="/css/style.css">
    <!--hoja de estilo-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <header>
        <img src="images/logo.svg" alt="logo">

        <div class="container">

            <div class="buscar">
                <input type="text" class="search-bar" placeholder="Buscar...">
                <a href="" class="lupa_buscar">
                    <i class="fas fa-search fa-lg"></i>
                </a>
            </div>

        </div>

        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="bar-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul class="nav-menu">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Carrito</a></li>
                <li><a href="">Ingresar</a></li>
            </ul>
        </nav>

    </header>
    <main class="productDetail">
        <div class="productResponsive">
            <div class="img-container">
                <div class="second-img">
                    <img src="/images/productos/whisky_01.jpeg" alt="">
                    <img src="/images/productos/whisky_02.jpeg" alt="">
                    <img src="/images/productos/whisky_03.jpeg" alt="">
                </div>
                <div class="main-img">
                    <img src="/images/productos/whisky_04.jpeg" alt="">
                </div>
            </div>
            <div class="productResponsive2">
                <div class="nombreProducto">
                    <h2>Nombre del producto</h2>
                </div>
                <div class="productDescription">
                    <div class="precio">
                        <p>Precio: </p>
                        <p>$10000</p>
                    </div>
                    <div class="button-container">
                        <button class="comprar btn-whisking">Comprar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="productDescription-text">
            <div class="pais-origen">
                <p>País de origen: </p>
                <p>Escocia</p>
            </div>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore amet inventore optio officiis numquam sit
            dicta illo quibusdam, minima voluptas adipisci hic, provident distinctio obcaecati quisquam libero unde!
            Sint, vero.
        </div>
    </main>
    <footer class="productCart">
        <div class="logo2">
            <img src="images/logo2.svg" alt="logo">
        </div>

        <div class="redesSociales">
            <a href="">contacto</a> <!-- link a formulario -->
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-whatsapp"></i>
        </div>
        <div class="copyright">
            <p>Copyright ©️ WhisKING 2021 | Todos los derechos reservados</p>
        </div>
    </footer>
</body>

</html>