<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs')  %>

<body class="body-create">
    <%- include('../partials/headerAdmin.ejs')  %> 
    <main class="create-main">

        <form action="/products" method="POST">
            <div class="form-create">

                <section class="mediaCreate1">
                    <div class="section-create">
                        <p>nombre del producto</p>
                        <input class="" type="" name="name" placeholder="" id="productName">
                        <span class="error-message-create">Debes ingresar el nombre del producto</span>
                    </div>
                    <div class="section-create">
                        <p>categoria</p>
                        <input class="" type="" name="category" placeholder="" id="category">
                        <span class="error-message-create">Debes ingresar la categoria del producto</span>
                    </div>
                    <div class="price-stock">
                        <div class="section-create">
                            <p>precio</p>
                            <input class="" type="" name="price" placeholder="" id="price">
                            <span class="error-message-create">Debes ingresar el precio</span>
                        </div>
    
                        <div class="section-create stock">
                            <p>Descuento</p>
                            <input class="input-stock" type="" name="discount" placeholder="" id="stock">
    
                        </div>
                    </div>
                    <div class="section-create">
                        <p>descripción</p>
                        <textarea class="" type="" name="description" placeholder="" id="description"></textarea>
                        <span class="error-message-create">Debes ingresar una breve descripción del producto</span>
                    </div>
                    
                </section>
                <section class="mediaCreate2">
                    
                    <div class="section-create">
                        <p>imágen</p>
                        <i class="far fa-image"></i>
                        <button type="submit" class="addImage">agrega una imagen</button>

                    </div>
                    <div class="botones">
                        <div class="button-cancel-create">
                            <button type="submit" class="botonCancel">cancelar</button>
                        </div>
                        <div class="button-public-create">
                            <button type="submit" class="botonCreate">publicar</button>
                        </div>
                    </div>
                </section>

            </div>
        </form>

    </main>
    <%-include('../partials/footerAdmin.ejs')%> 
</body>

</html>