<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs', {title: 'Crear Producto - The WhisKING Argentina'})%> 

<body class="body-create">
    <%- include('../partials/headerAdmin.ejs')%> 
    <main class="create-main">
        <form action="/products" method="POST" enctype="multipart/form-data">
            <div class="form-create">   
                <section class="mediaCreate1">
                    <h2>Crear Producto</h2>
                    <div class="section-create">
                        <p>nombre del producto</p>
                        <input class="" type="" name="name" placeholder="" id="productName">
                        <span class="error-message-create">Debes ingresar el nombre del producto</span>
                    </div>
                    <div class="section-create">
                        <p>categoria</p>
                        <select name="category" id="">
                            <option value="" hidden>Elegí</option>
                            <option value="Single-Malt">Single-Malt</option>
                            <option value="Japonés">Japonés</option>
                            <option value="Blended">Blended</option>
                            <option value="Bourbon">Bourbon</option>
                            <option value="Irlandeses">Irlandeses</option>
                            <option value="Pedorros">Pedorros</option>
                        </select>
                        <span class="error-message-create">Debes ingresar la categoria del producto</span>
                    </div>                    
                    <div class="price-stock">
                        <div class="section-create">
                            <p>precio</p>
                            <input class="" type="" name="price" placeholder="" id="price">
                            <span class="error-message-create">Debes ingresar el precio</span>
                        </div>
    
                        <div class="section-create stock">
                            <p>Descuento</p>
                            <input class="input-stock" type="" name="discount" placeholder="" id="stock">    
                        </div>
                    </div>
                    <div class="section-create">
                        <p>descripción</p>
                        <textarea class="" type="" name="description" placeholder="" id="description"></textarea>
                        <span class="error-message-create">Debes ingresar una descripción del producto</span>
                    </div>
                    <div> <!-- carga de imagen no se como seguir, estaba hecho en boostrap, tengo que ver artisitica de el profe dijo que lo hizo en html y css sin boostrap -->
                        <div class="section-create">
                            <p>Cargar foto</p>
                            <input type="file" name="image" class="" id="" > <!-- usamos el name del input=file para  -->
                            
                        </div>
                    </div>
                    <div class="botones">
                        <div class="button-cancel-create">
                            <button type="submit" class="buttonCancel">cancelar</button>
                        </div>
                        <div class="button-public-create">
                            <button type="submit" class="buttonCreate">publicar</button>
                        </div>
                    </div>
                    
                </section>
                <!-- <section class="mediaCreate2"> 
                  Comento esta seccion, hasta cuando sepamos renderizar una previa de la imagen cargada con multer  
                    <div class="section-create">
                        <p>imágen</p>
                        <i class="far fa-image"></i>
                        <button type="submit" class="addImage">agrega una imagen</button>

                    </div>
                </section> -->
                
            </div>
        </form>

    </main>
    <%-include('../partials/footerAdmin.ejs')%> 
</body>

</html>