<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs', {title:'Registración - The WhisKING Argentina'})  %> 
<body class="body-register"> 
    <%- include('../partials/header.ejs')  %>
    
    <main class="register-main">        
            <h2>Registrate</h2>
            <hr>
            <form action="">
                <div class="form-register">                    
                    <div class="input-container-register">                       
                        <input class="input-style-register" type="text" name="user_first_name" placeholder="Ingrese su nombre" id="nombre">
                        <span class="error-message-register">Debes ingresar tu nombre</span>
                    </div>
                    <div class="input-container-register">                       
                        <input class="input-style-register" type="text" name="user_last_name" placeholder="Ingrese su apellido" id="apellido">
                        <span class="error-message-register">Debes ingresar tu nombre</span>
                    </div>
                    <div class="input-container-register">                        
                        <input class="input-style-register" type="date" name="date_of_birth" placeholder="Ingrese su Fecha de Nacimiento" min="1900-01-01" max="2050-12-31" id="f_nacimiento">
                        <span class="error-message-register">Debes ingresar tu fecha de Nacimiento</span>
                    </div>
                    <div class="input-container-register">                        
                        <input class="input-style-register" type="email" name="mail" placeholder="Ingrese su email" id="email">
                        <span class="error-message-register">Debes ingresar tu email</span>
                    </div>
                    <div class="input-container-register">                       
                        <input class="input-style-register" type="password" name="pass" placeholder="Ingrese su contraseña" id="contrasenia">
                        <span class="error-message-register">Debes ingresar tu contraseña</span>
                    </div>
                   
                    <div class="input-container-register">
                        <input class="input-style-register" type="password" name="pass2" placeholder="Confirma su contraseña" id="contrasenia2">
                        <span class="error-message-register">Debes confirmar tu contraseña</span>
                    </div>
                   <div class="check-register">
                       <label class="label-terms-register" for="terminos_cond">Acepto los <a href="">términos y condiciones</a></label>
                       <input class="checkbox-terms-register" type="checkbox" name="terms" id="terminos-cond">              <br>
                       
                   </div>
                   <br>
                   <span class="error-message-terms">Debes aceptar los términos y condiciones</span>
                   
                   <div class="button-container-register">
                        <button  class="btn-whisking" type="submit">Registrarse</button>
                       
                   </div>
                   
                   <span class="span-cuenta"><a href="/users/login">Ya tienes cuenta</a></span>
                 
                </div>
            </form>
           

    </main>
    <%- include('../partials/footer.ejs')  %>    
</body>
</html>