<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'The WhisKING Argentina' })%>
    <body class="body-userProfile">
        <%- include('../partials/header.ejs')%>
            <main class="profile-main">
                
                <div>
                    <h1>Prueba</h1>
                    <h2>Nombre de usuario:<%- user.user_first_name  %>...</h2>
                </div>
            </main>
            <%- include('../partials/footer.ejs') %>
    </body>
</html>