<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <!--hoja de estilo normalize-->
    <link rel="stylesheet" href="/css/style.css">
    <!--hoja de estilo-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <header>
    
            <div class="logo">
                
            </div>

            <div class="burger-container">
                <img src="images/logo.svg" alt="logo">
                <div>
                    <input type="text" class="search-bar" placeholder="Buscar">
                    <button class="lupa">
                        <i class="fas fa-search fa-lg"></i>
                    </button>
                </div>

                <div class="burger-menu">

                    <i class="fas fa-bars"></i>
                    <nav>
                        <ul>
                            <li><a href="#">Ofertas</a></li>
                            <li><a href="#">Productos</a></li>
                            <li><a href="#">Ingresar</a></li>
                            <li><a href="#">Carrito</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
       
        <nav class="main-menu">
            <ul>
                <li>Ofertas</li>
                <li>Productos</li>
                <li>Ingresar</li>
                <li>Carrito</li>
            </ul>
        </nav>

        </div>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, labore accusamus. Ad omnis optio, eos, maxime
            molestias odio officiis itaque magni deleniti sint consectetur facilis. Commodi provident molestias debitis
            pariatur.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, labore accusamus. Ad omnis optio, eos, maxime
            molestias odio officiis itaque magni deleniti sint consectetur facilis. Commodi provident molestias debitis
            pariatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, labore accusamus. Ad omnis optio, eos, maxime
            molestias odio officiis itaque magni deleniti sint consectetur facilis. Commodi provident molestias debitis
            pariatur.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, labore accusamus. Ad omnis optio, eos, maxime
            molestias odio officiis itaque magni deleniti sint consectetur facilis. Commodi provident molestias debitis
            pariatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, labore accusamus. Ad omnis optio, eos, maxime
            molestias odio officiis itaque magni deleniti sint consectetur facilis. Commodi provident molestias debitis
            pariatur.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, labore accusamus. Ad omnis optio, eos, maxime
            molestias odio officiis itaque magni deleniti sint consectetur facilis. Commodi provident molestias debitis
            pariatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, labore accusamus. Ad omnis optio, eos, maxime
            molestias odio officiis itaque magni deleniti sint consectetur facilis. Commodi provident molestias debitis
            pariatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, labore accusamus. Ad omnis optio, eos, maxime
            molestias odio officiis itaque magni deleniti sint consectetur facilis. Commodi provident molestias debitis
            pariatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, labore accusamus. Ad omnis optio, eos, maxime
            molestias odio officiis itaque magni deleniti sint consectetur facilis. Commodi provident molestias debitis
            pariatur.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, labore accusamus. Ad omnis optio, eos, maxime
            molestias odio officiis itaque magni deleniti sint consectetur facilis. Commodi provident molestias debitis
            pariatur.</p>
    </main>
    <footer>
        <div class="logo2">
            <img src="images/logo2.svg" alt="logo">
        </div>

        <div class="redesSociales">
            <a href="">contacto</a> <!-- link a formulario -->
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-whatsapp"></i>
        </div>
        <div class="copyright">
            <p>Copyright ©️ WhisKING 2021 | Todos los derechos reservados</p>
        </div>
    </footer>
</body>

</html>