<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href=""><!--hoja de estilo google fonts-->
    <link rel="stylesheet" href="/css/normalize.css"><!--hoja de estilo normalize-->
    <link rel="stylesheet" href="/css/style.css"><!--hoja de estilo-->
</head>
<body>
    <a href="/">Volver al Home</a>
    <h1>Archivo Login</h1>

</body>
</html>